* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.cabecalho {
    background-color: #19232e;
    color: #c3c7ca;
    height: 80px;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 50px;
    width: 100%;
    gap: 25px;
}

.cabecalho-logo {
    max-height: 35px;
}

.cabecalho-logo:hover {
    cursor: pointer;
}

.cabecalho-navegacao {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.cabecalho-navegacao-barra {
    display: flex;
    align-items: center;
    gap: 17px;
    font-size: 16px;
}

.cabecalho-navegacao-link {
    font-size: 16px;
    font-weight: 500;
    color: #c3c7ca;
}

.cabecalho-navegacao-itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.cabecalho-navegacao-itens-experimente {
    background-color: #0f79af;
    color: #cbdfea;
    font-size: 17px;
    padding: 9px 21px;
    border-radius: 4px;
}

.cabecalho-navegacao-itens-experimente:hover {
    background-color: #1390cf;
}

.cabecalho-navegacao-itens-pesquisar {
    display: none;
}

.cabecalho-navegacao-itens-icone {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50px;
    gap: 5px;
    max-height: 20px;
}

.principal {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.principal-conteudo-1 {
    background-color: #000000;
    background-image: linear-gradient(to right, black 40%, transparent 58%), url(../images/background-1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 553px;
    padding: 60px 55% 60px 5%;
    color: #fffffa;
    gap: 35px;
    line-height: 27px;
}

.principal-conteudo-1-titulo , .principal-conteudo-3-titulo, .principal-conteudo-4-coluna-titulo {
    font-size: 40px;
    font-weight: 500;
}

.principal-conteudo-1-texto-1, .principal-conteudo-3-texto, .principal-conteudo-4-coluna-texto {
    font-size: 20px;
}

.principal-conteudo-1-botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 280px;
}

.principal-conteudo-1-botao, .principal-conteudo-3-botao {
    background-color: #0f79af;
    border-radius: 3px;
    height: 55px;
    font-size: 16px;
    color: #fffffa;
}

.divisor {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    line-height: 0px;
}

.divisor-linha-esquerda {
    border-top: 1px solid #fffffa;
    width: 43%;
 }

 .divisor-meio {
    text-align: center;
    background-color: #000000;
 }

 .divisor-linha-direita {
    border-top: 1px solid #fffffa;
    width: 43%;
 }

.principal-conteudo-1-texto-2 {
    font-size: 15px;
    line-height: 15px;
}

.principal-conteudo-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 530px;
    width: 100%;
    padding: 40px 5%;
}

.principal-conteudo-2-esquerda {
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #000000;
    width: 50%;
    font-size: 25px;
}

.principal-conteudo-2-esquerda-titulo {
    font-size: 40px;
    font-weight: 500;
}

.principal-conteudo-2-blocos {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-items: end;
    width: 50%;
    gap: 6px;
}

.principal-conteudo-2-bloco {
    background-image: linear-gradient(90deg, #73d8ec, #123a6d);
    height: 144px;
    width: 207px;
}

.principal-conteudo-2-bloco:hover {
    box-shadow: 1px 5px 10px black;
}

.principal-conteudo-3 {
    background-image: linear-gradient(to left, black 40%, transparent 58%), url(../images/background-2.jpg);
    color: #fffffa;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 530px;
    padding: 60px 5% 60px 55%;
    gap: 35px;
    line-height: 27px;
}

.principal-conteudo-3-botao {
    padding: 20px 90px;
    max-width: max-content;
}

.principal-conteudo-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    height: 580px;
    padding: 35px 80px;
    gap: 40px;
}

.principal-conteudo-4-coluna {
    max-width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 5px;
}

.principal-conteudo-4-coluna-imagem {
    max-height: 300px;
    max-width: 300px;
}

.rodape {
    background-image: linear-gradient(#171717, #222222, #222222);
    height: 137px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    color: #c3c7ca79;
    font-size: 15px;
}

.rodape-texto, .rodape-logo {
    margin-top: -12px;
}

.rodape-texto-link {
    color: #186a8a;
}

button:hover, span:hover{
    cursor: pointer;
}